

@charset "utf-8";
/* CSS Document */

.mypageLink a:link { text-decoration:none;color: #000000; }
.mypageLink a:visited { text-decoration:none;color: #000000; }
.mypageLink a:hover { text-decoration:none;color: #000000; }
.mypageLink a:active { text-decoration:none;color: #000000; }

/************* Footer공통 *****************/

.footbimg{background:url(../img/bottom_bg.png) no-repeat; float:left; width:100%;}
.footbimgpad{padding-top:100px; padding-left:29%;}
.foottext{font-family:Century Gothic; color:#666666; font-size:12px}
.footsdis{margin:0 auto; display:block;  width:100%; height:337px;}
.footpad{padding-top:40px; padding-left:29%;}
.footspan{color:#c2c2c2; font-size:16px;}

/************* Footer공통*****************/

/************* 서브탑이미지(후에 서브탑 이미지가 추가되거나 삭제되면 여기서 작성해주세요) *****************/

.subtoptext{padding-left:790px; padding-top:70px;}
.subtopbtn{padding-top:5px; padding-right:10px;}

/************* 서브탑이미지(후에 서브탑 이미지가 추가되거나 삭제되면 여기서 작성해주세요) *****************/
.savior{
	background-color: #FFF;
}
.savior td{
	padding: 8px;
}

/************* 서브bg(사이즈별로 작성 02번은 게임셀렉트전용) *****************/
.suballbg{height:1400px;   background:url(../img/subbg.png);}
.suballbg02{height:1020px; align-content: center; background-color: white;}
.suballbg03{height:1600px; background:url(../img/subbg.png);}
.suballbg04{height:1680px; background:url(../img/subbg.png);}

/************* 게임선택페이지 *****************/
.dboxback{margin:0 auto; text-align: center; display:block; height:900px; float:left; padding-left:170px; width:90%; padding-top:5px;}
.dboxback ul{}
.dboxback ul li{}
.dboxff{background:#FFF; height:430px; width:490px;}
.dboxbg01{height:255px; width:100%; background:url(../img/Gameselection/sel_img01.png);}
.dboxbg02{height:255px; width:100%; background:url(../img/Gameselection/sel_img02.png);}
.dboxbg03{height:255px; width:100%; background:url(../img/Gameselection/sel_img03.png);}
.dboxbg04{height:255px; width:100%; background:url(../img/Gameselection/sel_img04.png);}
.dboxbg05{height:255px; width:100%; background:url(../img/Gameselection/sel_img05.png);}
.dboxpad01{padding-top:80px; padding-left:250px;}
.dboxpad02{padding-top:10px; padding-left:245px;}
.dboxpad03{padding-top:80px; padding-left:170px;}
.dboxheight{height:150px;}
.dboxtext01{font-family:'Century Gothic';  padding-top:18px; font-size:50px;}
.dboxtext02{font-family:'Century Gothic'; font-size:12px; color:#999;}
.dboxpading{float:left; padding-left:15px;}
.dboxtoppad{padding-top:15px}
.dboxtoppad02{padding-top:15px; padding-left:15px;}
/************* 게임선택페이지 *****************/






/************* 로그인 *****************/
.logback{width:476px; height:336px; background:url(../img/login_back.png)}
.logbli01{padding-top:40px;}
.logbli02{padding-top:20px;}
.logbli03{padding-top:13px;}
.loginput{width:376px; height:56px; border:none;  padding-left:15px; border-radius:10px; font-family: 'Century Gothic';font-size:18px; color:#5f5f5f; font-weight:300px;}
.loginputpw{width:382px; height:56px; border:none;  padding-left:10px; border-radius:10px;  font-family: 'Century Gothic';font-size:30px; letter-spacing:-4px; color:#5f5f5f}
.logbtm{background:url(../img/login_dicebg.png) no-repeat; position: absolute; height: 86px; width: 334px; left: 75px; top: 351px;}
.logbt01{padding-left:80px; font-family: 'Microsoft YaHei UI'; font-size:17px; color:#00ccff; letter-spacing:-0.02em; font-weight:bold;}
.logbt02{padding-left:80px;  padding-top:11px; font-family: 'Microsoft YaHei UI'; font-size:11px; color:#fff; letter-spacing:-0.02em;}
.logbtn{padding-top:10px; padding-right:15px;}
.logclose{position: absolute; left: 429px; top: 43px;}
/************* 로그인 *****************/





/************* 게임가이드 *****************/
.gudivbg{width: 1000px; background-color: #fff; height:auto;}
.gudivbg_nose{width: 100px; background-color: #bbb; height:auto;}
.guheight{height:80px;}
.gupad01{float:left; padding-top:15px;}
.gupad02{float:left; padding-top:15px; padding-left:20px; font-size:28px; letter-spacing:-0.05em; font-family:'맑은 고딕', 'Century Gothic';}
.gupad03{float:left; padding-top:35px; padding-left:10px; font-size:12px; letter-spacing:-0.05em; color:#999;  font-family:'맑은 고딕', 'Century Gothic';}
.gline{height:1px; background:#cacaca;}
.gutext{font-family:'맑은 고딕', 'Century Gothic'; padding-top:15px; padding-left:20px; padding-right: 20px; line-height: 20px}
.gubtn{text-align: center; height:85px; padding-top:15px;}
/************* 게임가이드 *****************/






























